<a href="https://colab.research.google.com/github/wcj365/python-stats-dataviz/blob/master/Pandas_intro_survey_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas
**Pan**el **d**ata **a**nalysi**s**
Jupyter  - Julia, Python, R

In [10]:
import pandas as pd

In [12]:
URL = "https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/data/spring2021_survey.csv"

df = pd.read_csv(URL)
df.head()

            Timestamp  ...            10. What is your long-term career plan?
0  1/20/2021 15:53:12  ...                                    Data scientist
1  1/21/2021 12:51:37  ...  to be a well rounded data scientist and eventu...
2  1/22/2021 15:04:43  ...  Be a professional in healthcare data analytics...
3  1/25/2021 14:48:08  ...                          Work as a Data Scientist
4  1/25/2021 20:05:43  ...                                       Data Analyst

[5 rows x 11 columns]

In [14]:
df.tail(3)

             Timestamp  ...            10. What is your long-term career plan?
24  1/27/2021 22:46:34  ...                                       data analyst
25  1/28/2021 17:47:45  ...  To get a good job in my country in data scienc...
26  1/28/2021 19:48:02  ...  I would like to see my self as Data Scientist ...

[3 rows x 11 columns]

In [19]:
df.sample(4)

             Timestamp  ...            10. What is your long-term career plan?
3   1/25/2021 14:48:08  ...                          Work as a Data Scientist
7   1/25/2021 20:53:23  ...                                            Manager
21  1/26/2021 22:51:33  ...  I am still trying to determine in what context...
11   1/26/2021 4:39:08  ...  be a principal investigator in the field of de...

[4 rows x 11 columns]

In [18]:
df.shape

(27, 11)

In [20]:
df.columns

Index(['Timestamp', '1. My primary educational background',
       '2. My primary job function',
       '3. My level of computer programing knowledge',
       '4. My level of Python knowledge',
       '5. My level of Statistics knowledge', '6. My gender', '7. My age',
       '8. What do you enjoy doing in your leisure time?',
       '9. What do you expect to get out of this course?',
       '10. What is your long-term career plan?'],
      dtype='object')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 11 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Timestamp                                         27 non-null     object
 1   1. My primary educational background              27 non-null     object
 2   2. My primary job function                        27 non-null     object
 3   3. My level of computer programing knowledge      27 non-null     object
 4   4. My level of Python knowledge                   27 non-null     object
 5   5. My level of Statistics knowledge               27 non-null     object
 6   6. My gender                                      27 non-null     object
 7   7. My age                                         27 non-null     int64
 8   8. What do you enjoy doing in your leisure time?  27 non-null     object
 9   9. What do you expect to get out of this course?  27 non-null     object
 10  10. What is your long-term career plan?           27 non-null     object
dtypes: int64(1), object(10)
memory usage: 2.4+ KB

In [22]:
df.describe()   # statistics, summary statistics, descriptive statstics. Five-number statistics (min, max, median, 25%, 75%)

       7. My age
count  27.000000
mean   28.111111
std     9.299848
min    20.000000
25%    23.000000
50%    25.000000
75%    28.500000
max    58.000000

In [26]:
df[["2. My primary job function", "7. My age"]]

                          2. My primary job function  7. My age
0                                Technology-oriented         23
1                         Research/teaching-oriented         28
2                                Technology-oriented         23
3                                Technology-oriented         26
4                                  Business-oriented         25
5                                Technology-oriented         23
6                    still an undergraduate student          20
7                                  Business-oriented         58
8                                Technology-oriented         22
9   former teacher, currently fulltime grad student          28
10                               Technology-oriented         25
11                        Research/teaching-oriented         30
12                                 Business-oriented         58
13                               Technology-oriented         36
14                                 Business-oriented         30
15                               Technology-oriented         25
16                               Technology-oriented         24
17                               Technology-oriented         24
18                        Research/teaching-oriented         31
19                        Research/teaching-oriented         28
20                               Technology-oriented         25
21                                 Business-oriented         25
22                               Technology-oriented         29
23                               Technology-oriented         23
24                        Research/teaching-oriented         27
25                               Technology-oriented         22
26                               Technology-oriented         21

In [27]:
df[df["2. My primary job function"] == "Business-oriented"]

             Timestamp  ...            10. What is your long-term career plan?
4   1/25/2021 20:05:43  ...                                       Data Analyst
7   1/25/2021 20:53:23  ...                                            Manager
12   1/26/2021 6:00:17  ...                                            Manager
14   1/26/2021 7:23:07  ...                          HR Related Data Scientist
21  1/26/2021 22:51:33  ...  I am still trying to determine in what context...

[5 rows x 11 columns]

In [30]:
df.iloc[4]

Timestamp                                                                          1/25/2021 20:05:43
1. My primary educational background                    STEM (Science, Technology, Engineering, Math)
2. My primary job function                                                          Business-oriented
3. My level of computer programing knowledge                                                 Beginner
4. My level of Python knowledge                                                              Beginner
5. My level of Statistics knowledge                                                      Intermediate
6. My gender                                                                                   Female
7. My age                                                                                          25
8. What do you enjoy doing in your leisure time?                           Exercises, reading novels.
9. What do you expect to get out of this course?    Proficiently use Python for statistical data a...
10. What is your long-term career plan?                                                  Data Analyst
Name: 4, dtype: object

In [31]:
df[df["7. My age"] > 30]

             Timestamp  ...            10. What is your long-term career plan?
7   1/25/2021 20:53:23  ...                                            Manager
12   1/26/2021 6:00:17  ...                                            Manager
13   1/26/2021 7:04:50  ...                         Data Science CyberSecurity
18  1/26/2021 12:59:09  ...  chief quality officer in a healthcare orginaza...

[4 rows x 11 columns]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 11 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Timestamp                                         27 non-null     object
 1   1. My primary educational background              27 non-null     object
 2   2. My primary job function                        27 non-null     object
 3   3. My level of computer programing knowledge      27 non-null     object
 4   4. My level of Python knowledge                   27 non-null     object
 5   5. My level of Statistics knowledge               27 non-null     object
 6   6. My gender                                      27 non-null     object
 7   7. My age                                         27 non-null     int64
 8   8. What do you enjoy doing in your leisure time?  27 non-null     object
 9   9. What do you expect to get out of this course?  27 non-null     object
 10  10. What is your long-term career plan?           27 non-null     object
dtypes: int64(1), object(10)
memory usage: 2.4+ KB

In [46]:
df2 = df.drop(columns=["Timestamp"])
df2.shape

(27, 10)

In [48]:
df2.duplicated(keep="first")

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17     True
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
dtype: bool

In [49]:
df2.drop_duplicates(keep="first", inplace=True)

In [50]:
df2

                 1. My primary educational background  ...            10. What is your long-term career plan?
0       STEM (Science, Technology, Engineering, Math)  ...                                    Data scientist
1           Business, Management, Politics, Law, etc.  ...  to be a well rounded data scientist and eventu...
2       STEM (Science, Technology, Engineering, Math)  ...  Be a professional in healthcare data analytics...
3       STEM (Science, Technology, Engineering, Math)  ...                          Work as a Data Scientist
4       STEM (Science, Technology, Engineering, Math)  ...                                       Data Analyst
5       STEM (Science, Technology, Engineering, Math)  ...                    Data analyst or data Scientist
6           Business, Management, Politics, Law, etc.  ...                                    data scientist
7           Business, Management, Politics, Law, etc.  ...                                            Manager
8       STEM (Science, Technology, Engineering, Math)  ...    Aiming to become a CyberSecurity Data Scientist
9                     elementary education (teaching)  ...                       To work as a data scientist
10     Healthcare (Medicine, Pharmacy, Nursing, etc.)  ...  I want to get into role as Healthcare data ana...
11      STEM (Science, Technology, Engineering, Math)  ...  be a principal investigator in the field of de...
13      STEM (Science, Technology, Engineering, Math)  ...                         Data Science CyberSecurity
14  Industrial Organizational Psychology (mix of S...  ...                          HR Related Data Scientist
15      STEM (Science, Technology, Engineering, Math)  ...  To be a professional Data Scientist or Data An...
16      STEM (Science, Technology, Engineering, Math)  ...  I want to work as a front-end developer profes...
18     Healthcare (Medicine, Pharmacy, Nursing, etc.)  ...  chief quality officer in a healthcare orginaza...
19          Business, Management, Politics, Law, etc.  ...                    to be be a senior data science
20          Business, Management, Politics, Law, etc.  ...  Become a data scientist for a well know organi...
21  Social Science (History, Philosophy, Education...  ...  I am still trying to determine in what context...
22  Social Science (History, Philosophy, Education...  ...  I'd like to be a data scientist for a company ...
23      STEM (Science, Technology, Engineering, Math)  ...  I am currently pursuing data analyst roles (sp...
24      STEM (Science, Technology, Engineering, Math)  ...                                       data analyst
25      STEM (Science, Technology, Engineering, Math)  ...  To get a good job in my country in data scienc...
26      STEM (Science, Technology, Engineering, Math)  ...  I would like to see my self as Data Scientist ...

[25 rows x 10 columns]

In [51]:
df

             Timestamp  ...            10. What is your long-term career plan?
0   1/20/2021 15:53:12  ...                                    Data scientist
1   1/21/2021 12:51:37  ...  to be a well rounded data scientist and eventu...
2   1/22/2021 15:04:43  ...  Be a professional in healthcare data analytics...
3   1/25/2021 14:48:08  ...                          Work as a Data Scientist
4   1/25/2021 20:05:43  ...                                       Data Analyst
5   1/25/2021 20:18:25  ...                    Data analyst or data Scientist
6   1/25/2021 20:19:53  ...                                    data scientist
7   1/25/2021 20:53:23  ...                                            Manager
8   1/25/2021 20:54:14  ...    Aiming to become a CyberSecurity Data Scientist
9   1/25/2021 22:18:19  ...                       To work as a data scientist
10   1/26/2021 1:37:25  ...  I want to get into role as Healthcare data ana...
11   1/26/2021 4:39:08  ...  be a principal investigator in the field of de...
12   1/26/2021 6:00:17  ...                                            Manager
13   1/26/2021 7:04:50  ...                         Data Science CyberSecurity
14   1/26/2021 7:23:07  ...                          HR Related Data Scientist
15  1/26/2021 10:48:09  ...  To be a professional Data Scientist or Data An...
16  1/26/2021 12:35:28  ...  I want to work as a front-end developer profes...
17  1/26/2021 12:37:59  ...  I want to work as a front-end developer profes...
18  1/26/2021 12:59:09  ...  chief quality officer in a healthcare orginaza...
19  1/26/2021 19:48:18  ...                    to be be a senior data science
20  1/26/2021 22:39:03  ...  Become a data scientist for a well know organi...
21  1/26/2021 22:51:33  ...  I am still trying to determine in what context...
22   1/27/2021 9:48:06  ...  I'd like to be a data scientist for a company ...
23  1/27/2021 18:46:43  ...  I am currently pursuing data analyst roles (sp...
24  1/27/2021 22:46:34  ...                                       data analyst
25  1/28/2021 17:47:45  ...  To get a good job in my country in data scienc...
26  1/28/2021 19:48:02  ...  I would like to see my self as Data Scientist ...

[27 rows x 11 columns]

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 11 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Timestamp                                         27 non-null     object
 1   1. My primary educational background              27 non-null     object
 2   2. My primary job function                        27 non-null     object
 3   3. My level of computer programing knowledge      27 non-null     object
 4   4. My level of Python knowledge                   27 non-null     object
 5   5. My level of Statistics knowledge               27 non-null     object
 6   6. My gender                                      27 non-null     object
 7   7. My age                                         27 non-null     int64
 8   8. What do you enjoy doing in your leisure time?  27 non-null     object
 9   9. What do you expect to get out of this course?  27 non-null     object
 10  10. What is your long-term career plan?           27 non-null     object
dtypes: int64(1), object(10)
memory usage: 2.4+ KB

In [56]:
df["7. My age"] = df["7. My age"].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 11 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Timestamp                                         27 non-null     object
 1   1. My primary educational background              27 non-null     object
 2   2. My primary job function                        27 non-null     object
 3   3. My level of computer programing knowledge      27 non-null     object
 4   4. My level of Python knowledge                   27 non-null     object
 5   5. My level of Statistics knowledge               27 non-null     object
 6   6. My gender                                      27 non-null     object
 7   7. My age                                         27 non-null     object
 8   8. What do you enjoy doing in your leisure time?  27 non-null     object
 9   9. What do you expect to get out of this course?  27 non-null     object
 10  10. What is your long-term career plan?           27 non-null     object
dtypes: object(11)
memory usage: 2.4+ KB

In [57]:
df.sample(3)

             Timestamp  ...            10. What is your long-term career plan?
0   1/20/2021 15:53:12  ...                                    Data scientist
12   1/26/2021 6:00:17  ...                                            Manager
23  1/27/2021 18:46:43  ...  I am currently pursuing data analyst roles (sp...

[3 rows x 11 columns]

In [58]:
df["7. My age"] = df["7. My age"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 11 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Timestamp                                         27 non-null     object
 1   1. My primary educational background              27 non-null     object
 2   2. My primary job function                        27 non-null     object
 3   3. My level of computer programing knowledge      27 non-null     object
 4   4. My level of Python knowledge                   27 non-null     object
 5   5. My level of Statistics knowledge               27 non-null     object
 6   6. My gender                                      27 non-null     object
 7   7. My age                                         27 non-null     int64
 8   8. What do you enjoy doing in your leisure time?  27 non-null     object
 9   9. What do you expect to get out of this course?  27 non-null     object
 10  10. What is your long-term career plan?           27 non-null     object
dtypes: int64(1), object(10)
memory usage: 2.4+ KB

In [59]:
df.columns

Index(['Timestamp', '1. My primary educational background',
       '2. My primary job function',
       '3. My level of computer programing knowledge',
       '4. My level of Python knowledge',
       '5. My level of Statistics knowledge', '6. My gender', '7. My age',
       '8. What do you enjoy doing in your leisure time?',
       '9. What do you expect to get out of this course?',
       '10. What is your long-term career plan?'],
      dtype='object')

In [60]:
df.columns = ["Time", "Q1", "Q2", "Q3", "Q4", "Q5", "Q6", "Q7", "Q8", "Q9", "Q10"]
df.head(2)

                 Time  ...                                                Q10
0  1/20/2021 15:53:12  ...                                    Data scientist
1  1/21/2021 12:51:37  ...  to be a well rounded data scientist and eventu...

[2 rows x 11 columns]

In [61]:
new_columns = []
new_columns.append("Time")
for i in range(1,11):
    new_columns.append(f"Q{i}")

new_columns

['Time', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10']

In [ ]:
df.columns = new_columns